[Unit]
Description=A daemon to suspend your server in case of inactivity

[Service]
ExecStart=/usr/bin/autosuspend.py -l /etc/autosuspend-logging.conf
After=network.target

[Install]
WantedBy=multi-user.target
