[Unit]
Description=Notifies autosuspend about suspension
Documentation=https://autosuspend.readthedocs.io/en/latest/systemd_integration.html
Before=sleep.target

[Service]
Type=simple
ExecStart=/usr/bin/touch /tmp/autosuspend-just-woke-up

[Install]
WantedBy=sleep.target
