[Unit]
Description=Notifies autosuspend about suspension
Documentation=https://autosuspend.readthedocs.io/en/latest/systemd_integration.html
Before=sleep.target

[Service]
Type=simple
ExecStart=/usr/bin/autosuspend -l /etc/autosuspend-logging.conf presuspend

[Install]
WantedBy=sleep.target
