[Unit]
Description=A daemon to suspend your server in case of inactivity
Documentation=https://autosuspend.readthedocs.io/en/latest/systemd_integration.html
After=network.target

[Service]
ExecStart=/usr/bin/autosuspend -l /etc/autosuspend-logging.conf daemon

[Install]
WantedBy=multi-user.target
